.x-slider .bp3-slider-track {
    background-color: #F00;
}
.y-slider .bp3-slider-track {
    background-color: #0F0;
}
.z-slider .bp3-slider-track {
    background-color: #00F;
}

.big-button {
    height: 50px;
    width: 120px;
}

.sliceRendererContainer {
   transition: left 0.2s ease-in, top 0.2s ease-in, width 0.2s ease-in, height 0.2s ease-in;
}